


.section.sidebar {
     list-style-type: none;
     background-color: #1B2D5B !important;
     padding: 0px;
    }
.section.sidebar a {
  display: block;
  color: #D8BB48;
  text-decoration: none;
  padding: 10px 10px;
  margin: 0;
  font-size: 16px;
}
.section.sidebar a:hover{
  background-color: #122233;
  padding-left: 20px;
}

.section.sidebar a[href="#inicio"]:hover {
  background-color: #1B2D5B !important;
  padding-left: 10px !important;
}

.navbar-brand {
  pointer-events: none;
    padding: 14.5px 20.5px;
}

.navbar-inverse .navbar-brand {
  pointer-events: none;
    color: #D8BB48;
    font-size: 22px;
}

.navbar-inverse .navbar-brand .red{
    color: #a0a020;
}

.navbar-inverse {
  display: block;
    background-color: #1B2D5B;
    border-color: #5da2ef;
}

.chart-wrapper a {
  display: inline;
  color: #D8BB48;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0;
  font-size: 16px;
}
.chart-wrapper a:hover{
  background-color: #1B2451;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .chart-title {
  font-size: 20px !important;
  text-align: center;
}
}

/* Tamaño de fuente pequeño para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .chart-title {
  font-size: 12px !important;
  text-align: center;
}
}

h3{
  font-size: 3em;
}

.chart-title {
  background-color: #1B2D5B;
  font-weight: bold !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: #D8BB48 !important;
}

.flowing-content-container {
    padding: 0 !important;
}

.chart-stage {
  padding: 0;
  background-color: white;
}

/* Media query para pantallas más grandes de 21 pulgadas */
@media screen and (min-width: 1600px) {
  .chart-title {
    font-size: 20px !important; /* Tamaño de letra para pantallas más grandes */
  }
  .chart-stage {
    font-size: 14px !important;
  }
}

/* Media query para pantallas de 15 pulgadas a 20 pulgadas */
@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .chart-title {
    font-size: 16px !important; /* Tamaño de letra para pantallas medianas */
  }
  .chart-stage {
    font-size: 12px !important;
  }
}

/* Media query para pantallas de 9 pulgadas a 14 pulgadas */
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .chart-title {
    font-size: 14px !important; /* Tamaño de letra para pantallas más pequeñas */
  }
  .chart-stage {
    font-size: 10px !important;
  }
}

/* Media query para pantallas menores a 9 pulgadas */
@media screen and (max-width: 599px) {
  .chart-title {
    font-size: 12px !important; /* Tamaño de letra para pantallas muy pequeñas */
  }
  .chart-stage {
    font-size: 8px !important;
  }
}

